* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
}

main,
.purchase h1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.artworks {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.artwork-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.artwork {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 350px;
  text-align: center;
  transition: transform 0.3s;
}

.artwork img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.artwork:hover {
  transform: scale(1.05);
}

footer {
  flex: 0 0 auto;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.artwork-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.artwork-detail img {
  max-width: 40%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

#buy-btn {
  width: 100px;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  border: #3e444f 1px solid;
  opacity: 0.7;
}

#comment-form {
  margin-top: 20px;
}

#comment-form input,
#comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#comment-form button,
.purchase button {
  /* width: 100px; */
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.purchase button {
  width: 200px;
}
#comment-form button:hover {
  background-color: #3e444f;
}

#comments-list {
  list-style: none;
  padding: 10px;
  margin: 0;
  border-radius: 2px;
  background-color: rgb(203, 203, 203);
}
#purchase-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.purchase h1{
  text-align: center;
}

.purchase-labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
}